USE [master]
GO
/****** Object:  Database [VECTORIA]    Script Date: 13/11/2025 07:26:42 p. m. ******/
CREATE DATABASE [VECTORIA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VECTORIA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VECTORIA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VECTORIA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VECTORIA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VECTORIA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VECTORIA]
GO
/****** Object:  Table [dbo].[ECONOMIA]    Script Date: 13/11/2025 07:26:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ECONOMIA](
	[ID_USUARIO] [varchar](30) NULL,
	[TIPO_MONEDA] [varchar](30) NULL,
	[SALDO_ACTUAL] [int] NULL,
	[TRANSACCIONES] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADISTICAS]    Script Date: 13/11/2025 07:26:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADISTICAS](
	[ID_USUARI] [varchar](30) NULL,
	[PARTIDAS_JUGADAS] [int] NULL,
	[DAÑO_TOTAL] [int] NULL,
	[TIEMPO_PROMEDIO_PARTIDA] [int] NULL,
	[MUERTES] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 13/11/2025 07:26:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[ID] [int] NULL,
	[NOMBRE_USUARIO] [varchar](30) NULL,
	[PUNTAJE] [int] NULL,
	[NIVEL_CUENTA] [int] NULL,
	[LOGROS_DESBLOQUEADOS] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTARIO]    Script Date: 13/11/2025 07:26:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTARIO](
	[ID_ITEM] [int] NULL,
	[NOMBRE_ITEM] [varchar](30) NULL,
	[ID_USUARIO] [varchar](30) NULL,
	[CANTIDAD] [int] NULL,
	[FECHA_OBTENIDO] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REGISTRO]    Script Date: 13/11/2025 07:26:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGISTRO](
	[NOMBRE_USUARIO] [varchar](30) NULL,
	[ID] [int] NULL,
	[NOMBRE] [varchar](30) NULL,
	[APELLIDO] [varchar](30) NULL,
	[GENERO] [varchar](30) NULL,
	[EDAD] [int] NULL,
	[GMAIL] [varchar](50) NULL,
	[CONTRASEÑA] [varchar](30) NULL
) ON [PRIMARY]
GO
USE [master]
GO
